<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Salesforce SOAP API</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="vendor/SLDS0120/assets/styles/salesforce-lightning-design-system.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="slds">
      <!-- Header -->
      <header class="site-masthead slds-grid slds-page-header slds-theme--inverse commonHeader">
        <div th:include="layout :: header('Salesforce SOAP API Demo')"></div>
      </header>
      
      <div class="slds-grid slds-wrap">
        <!-- Navi -->
        <nav class="slds-col slds-size--2-of-12 sideMenu">
          <div th:include="layout :: sideMenu"></div>
        </nav>
        <!-- Main Section -->
        <section class="slds-col slds-size--10-of-12">
          <div class="slds-p-around--xx-large">
            <p class="slds-text-heading--large">Hello!! <span th:text="${account.name}"></span>!!</p>
          </div>
        </section>
      </div>
    </div>
  </body>
</html> 