<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Salesforce SOAP API</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="vendor/SLDS0120/assets/styles/salesforce-lightning-design-system.min.css" rel="stylesheet" type="text/css" />
    <link href="css/login.css" rel="stylesheet" type="text/css" />
    <style>
      .padding {
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <div class="slds">
      <!-- Header -->
      <header class="site-masthead slds-grid slds-page-header slds-theme--inverse">
        <div class="slds-media__body slds-p-top--x-small">
          <h1 class="slds-text-heading--large">Salesforce SOAP API</h1>
        </div>
      </header>
      <!-- hello page -->
      <div id="my-sfdc">
        <p>Hello!!</p>
      </div>
    </div>
  </body>
</html> 